/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

/* Header
===================================*/
.nav-bar-block, .bar {
  background-color: inherit !important;
  height:56px;
}
.icon-nav-drawer:before {  
    content: url('../asset/to_nav.png'); 
}
.button-menu .icon:before{
  font-size: 14px !important;
  line-height:10px !important;
  width: 18px;
}

/* Tab Header
==================================== */

.header-logo {
  width: 68px;
  height: 30px;
}
i.header-avatar {
  font-size: 42px;
  vertical-align: middle;
}
i.header-avatar>img {
  display: inline-block;
  height: 36px;
  width: 36px;
}
.row.header-row>.header-col:first-child {
  text-align: left;
}
.row.header-row>.header-col:last-child {
  text-align: right;
}
.row.header-row,.col.header-col {
  padding: 0;
  margin: 0;
}
.col.header-col {
  height: 43px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab-item-active {
  border-bottom: 4px #41abde solid;
}
.icon-tab-people:before {  
    content: url('../asset/svarapeople.png'); 
}
.icon-tab-society:before {  
    content: url('../asset/svarasociety.png'); 
}
.icon-tab-star:before {  
    content: url('../asset/svarastar.png'); 
}
.icon-tab-radio:before {  
    content: url('../asset/svararadio.png'); 
}
.icon-tab-music:before {  
    content: url('../asset/svaramusic.png'); 
}

/* card use ng-repeat for flex 
========================================================*/
.row{
  flex-wrap: nowrap;
}


#mainbox{
  font-family: calibri;
  box-sizing: border-box;
  justify-content: left;
  display: flex;
flex-wrap: wrap;
margin-left: 0px;

}

.col-70 {
  width: -webkit-max-content;
  width: max-content;
  max-width: 40%;
}
.col-70 img
{
  width: 100%;
  height: 100%;
}


/*slide box category
===========================================*/

.container { 
      width: 100%;
      height: 200px;    
      overflow:hidden;
      padding-bottom: 30%;       
      position: relative;
      margin: 1% auto 0px;
      -webkit-perspective: 800px;
         -moz-perspective: 800px;
           -o-perspective: 800px;
              perspective: 800px;
    }
	.flashcard {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transition: -webkit-transform 0.5s;
         -moz-transition: -moz-transform 0.5s;
           -o-transition: -o-transform 0.5s;
              transition: transform 0.5s;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
			  
			  
    }
	/*
	.container:hover .flashcard{
	  -webkit-transform: rotateY( 180deg );
         -moz-transform: rotateY( 180deg );
           -o-transform: rotateY( 180deg );
              transform: rotateY( 180deg );
			  
	}
	*/
    .container .flashcard.flipped {
      -webkit-transform: rotateX( -180deg );
         -moz-transform: rotateX( -180deg );
           -o-transform: rotateX( -180deg );
              transform: rotateX( -180deg );
    }
/*setting up flashcard */
    .flashcard .face {
      display: block;
      height: 100%;
      width: 100%;
      line-height: 150px;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 40px;
      position: absolute;
	  -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
    }
    .flashcard .front {
      background: gray;
	  color:black;
	  -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
    }
	.flashcard .back {
      background: black;
	  color:gray;
      -webkit-transform: rotateX( -180deg );
         -moz-transform: rotateX( -180deg );
           -o-transform: rotateX( -180deg );
              transform: rotateX( -180deg );	  
    }
    
   
/* Text Overlay On Image
===============================================*/
.module {
 
  width: 100%;
  height: 200px;
  margin: 10px 0 0 10px;
  position: relative;
  float: left;
}

.mid p {
  font-family:OpenSans;
  font-weight: 50;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  font-size: 14px;
  transform: translate(-50%, -50%);
  white-space: wrap;
  text-align: center;
}
.mid p2 {
  font-family:VarelaRound-Regular;
  font-weight: 100;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  font-size: 10px;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* Kategori Text dan Button Icon
===============================================*/
.kategori h2 {
    color : #41abde;
    font-family :VarelaRound-Regular;
    font-size :16px;
    line-height:20px !important;
    letter-spacing: 4px;

    padding-left: 30%;
    
}
.icon-more:before {  
    content: url('../asset/more.png');
}
.button btn-more{
    right:0px;
    width: 5px;
    height: 25px;
    border-radius: 10px;
   
}